html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
img {
    max-width: 100%;
}

/* the img is always going to fit within the width of the page and never be wider than the size of the veiwport */